<!DOCTYPE html>
<html>
    <head>
        <title>RVideo Accounts</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
    </head>
    <body>
        <div class="topbar">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='favicon.ico') }}">
                    <p>RVIDEO</p>
                </a>
            </div>
            <div class="search" id="advanced">
                <form action="/account/0">
                    <div class="normal">
                        <a class="hide" href="#">
                            <button type="button">↑</button>
                        </a>
                        <a class="show" href="#advanced">
                            <button type="button">↓</button>
                        </a>
                        
                        <input class="bar" type="text" name="SEARCH" value="">
                        <input type="submit" value="users">
                    </div>
                    <div class="advanced">
                        <div>
                            <input id="selector" class="search_date" type="checkbox" name="AFTER">
                            <p class="before">before:</p>
                            <p class="after">after:</p>
                            <input type="date" name="DATE" value="">
                            <p>page:</p>
                            <input class="page" type="number" name="PAGE" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="action">
            {% if account %}
                <div>
                    <a href="/login?out">
                        <p>Logout</p>
                    </a>
                </div>
                <div>
                    <a href="/settings">
                        <p>Settings</p>
                    </a>
                </div>
            {% else %}
                <div>
                    <a href="/login">
                        <p>Login</p>
                    </a>
                </div>
            {% endif %}
            </div>
        </div>
    
        {% if target.pid == 0 %}
        <div class="users">
        {% if users|length == 0 %}
            <div>
                No users :c
            </div>
        {% else %}
            {% for user in users %}
            <a href="/account/{{ user.pid }}">
                <div>
                    <img src="/picture/{{ user.pid  }}">
                    <p>{{ user.username }}</p>
                </div>
            </a>
            {% endfor %}
        {% endif %}
        </div>
        {% else %}
        <div class="account">
            <img src="/picture/{{ target.pid }}">
            <p>{{ target.username }}</p>
        </div>

        <div class="offsets">
            <a href="/account/{{ target.pid }}?offset={{ offset - 1 }}">
                <button type="button">←</button>
            </a>
            <p>{{ offset }}</p>
            <a href="/account/{{ target.pid }}?offset={{ offset + 1 }}">
                <button type="button">→</button>
            </a>
        </div>

        <div class="videos">
        {% if videos|length == 0 %}
            <div class="no">
                <p>No videos :c</p>
            </div>
        {% else %}
            {% for video in videos %}
                {% if video.private == 1 %}
                <a href="/view/{{ account.pid }}_{{ video.vid }}">
                {% else %}
                <a href="/view/{{ video.vid }}">
                {% endif %}
                    <div>
                        <video>
                            {% if video.private == 1 %}
                            <source src="/stream/{{ account.pid }}_{{ video.vid }}">
                            {% else %}
                            <source src="/stream/{{ video.vid }}">
                            {% endif %}
                        </video>
                        <div>
                            <p>{{ video.name }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        </div>
        {% endif %}
    </body>
</html>