<!DOCTYPE html>
<html>
    <head>
        <title>RVideo</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='root.css') }}">
    </head>
    <body>
        <div class="topbar">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='favicon.ico') }}">
                    <p>RVIDEO</p>
                </a>
            </div>
            <div class="search" id="advanced">
                <form action="/">
                    <div class="normal">
                        <a class="hide" href="#">
                            <button type="button">↑</button>
                        </a>
                        <a class="show" href="#advanced">
                            <button type="button">↓</button>
                        </a>
                        
                        <input class="bar" type="text" name="SEARCH" value="{{ terms.search | safe }}">
                        <input type="submit" value="search">
                    </div>

                    <div class="advanced">
                        <div>
                            <input id="selector" class="search_date" type="checkbox" name="AFTER" {% if terms.after == "on" %} checked {% endif %}>
                            <p class="before">before:</p>
                            <p class="after">after:</p>
                            <input type="date" name="DATE" value="{{ terms.date }}">
                            <p>page:</p>
                            <input class="page" type="number" name="PAGE" value="{{ terms.page }}">
                        </div>
                        <div>
                            <p>user:</p>
                            <input type="text" name="USERS" value="{{ terms.users | safe }}">
                        </div>
                        <div>
                            <p>tags:</p>
                            <input type="text" name="TAGS" value="{{ terms.tags | safe }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="action">
                {% if account %}
                <div class="upload">
                    <a href="/video">
                        <p>Upload&#40;+&#41;</p>
                    </a>
                </div>
                {% endif %}
                <div class="account">
                    {% if account %}
                    <a href="/account/{{ account.pid }}">
                        <img src="/picture/{{ account.pid }}">
                        <p>{{ account.username }}</p>
                    </a>
                    {% else %}
                    <a href="/users/">
                        <img src="/picture/0">
                        <p>Guest</p>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="videos">
        {% if videos|length == 0 %}
            <div>
                No videos :c
            </div>
        {% else %}
            {% for video in videos %}
                {% if video.private == 1 %}
                <a href="/view/{{ account.pid }}_{{ video.vid }}">
                {% else %}
                <a href="/view/{{ video.vid }}">
                {% endif %}
                    <div>
                        <video>
                            {% if video.private == 1 %}
                            <source src="/stream/{{ account.pid }}_{{ video.vid }}">
                            {% else %}
                            <source src="/stream/{{ video.vid }}">
                            {% endif %}
                        </video>
                        <div>
                            <p>{{ video.name }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        </div>
    </body>
</html>