<!DOCTYPE html>
<html>
    <head>
        <title>RVideo Users</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
    </head>
    <body>
        <div class="topbar">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Failed to load">
                    <p>RVIDEO</p>
                </a>
            </div>
            <div class="search" id="advanced">
                <form action="/users/">
                    <div class="normal">
                        <a class="hide" href="#">
                            <button type="button">↑</button>
                        </a>
                        <a class="show" href="#advanced">
                            <button type="button">↓</button>
                        </a>
                        
                        <input class="bar" type="text" name="SEARCH" value="{{ terms.search }}">
                        <input type="submit" value="users">
                    </div>
                    <div class="advanced">
                        <div>
                            <input id="selector" class="search_date" type="checkbox" name="AFTER" {% if terms.after == "on" %} checked {% endif %}>
                            <p class="before">before:</p>
                            <p class="after">after:</p>
                            <input type="date" name="DATE" value="{{ terms.date }}">
                            <p>page:</p>
                            <input class="page" type="number" name="PAGE" value="{{ terms.page }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="action">
            {% if account %}
                <div>
                    <a href="/login?out">
                        <p>Logout</p>
                    </a>
                </div>
                <div>
                    <a href="#settings">
                        <p>Settings</p>
                    </a>
                </div>
            {% else %}
                <div>
                    <a href="/login">
                        <p>Login</p>
                    </a>
                </div>
            {% endif %}
            </div>
        </div>
    
        <div class="users">
        {% if users|length == 0 %}
            <div>
                No users :c
            </div>
        {% else %}
            {% for user in users %}
            <a href="/account/{{ user.pid }}">
                <div>
                    <img src="/picture/{{ user.pid  }}" alt="Failed to load">
                    <p>{{ user.username }}</p>
                </div>
            </a>
            {% endfor %}
        {% endif %}
        </div>

        {% if account %}
        <div id="settings">
            <p>Account settings</p>

            <div class="picture">
                <form action="/settings/picture" method="post" enctype="multipart/form-data">
                    <input type="file" name="picture">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="return" value="/users">
                    <input class="submit" type="submit" value="upload picture">
                </form>
            </div>

            <div class="username">
                <p>username:</p>
                <form action="/settings/username" method="post">
                    <input class="text" type="text" name="username" value="{{ account.username }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="return" value="/users">
                    <input class="submit" type="submit" value="change">
                </form>
            </div>

            <div class="password">
                <p>password:</p>
                <form action="/settings/password" method="post">
                    <div>
                        <p>old:</p>
                        <input class="text" type="password" name="old">
                    </div>
                    <div>
                        <p>new:</p>
                        <input class="text" type="password" name="new">
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="return" value="/users">
                    <input class="submit" type="submit" value="change">
                </form>
            </div>

            <div class="delete">
                <p>delete:</p>
                <input class="select" type="checkbox">
                <form action="/settings/delete" method="post">
                    <p>password:</p>
                    <input class="text" type="password" name="password">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="return" value="/users">
                    <input class="submit" type="submit" value="delete account">
                </form>
            </div>

            <p style="color: {{ message[1] }};">{{ message[0] }}</p>

            <a href="#">
                <input type="button" value="close">
            </a>
        </div>
        {% endif %}
    </body>
</html>