<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    </head>
    <body>
        <div class="rvideo_topbar">
            <!-- Logo block  -->
            <a href="/" class="rvideo_logo">
                <img class="rvideo_logo_img" src="{{ url_for('static', filename='favicon.ico') }}">
                <p class="rvideo_logo_text">RVIDEO</p>
            </a>
            {% if account %}
            <div style="margin-left: auto;" class="rvideo_account">
                <a style="text-decoration: none;" href="/account?page={{ account.pid }}">
                    <img class="rvideo_account_image" src="/account?picture={{ account.pid }}">
                    <p class="rvideo_account_text">{{ account.username }}</p>
                </a>
            </div>
            {% else %}
            <a class="rvideo_login" href="/login">
                <p class="rvideo_login_text">Login</p>
            </a>
            {% endif %}
        </div>

        <div class="video_container">
            <div style="display: grid;">
                <video controls width="auto" height="600vw" style="margin: 0;">
                    <source src="/stream/{{ vid }}">
                </video>
                <div style="display: flex;">
                    <div class="rvideo_account">
                        <a style="text-decoration: none;" href="/account?page={{ target.pid }}">
                            <img class="rvideo_account_image" src="/account?picture={{ target.pid }}">
                            <p class="rvideo_account_text">{{ target.username }}</p>
                        </a>
                    </div>
                    <div style="display: grid; margin-left: 10px;">
                        <div id="title">
                            {% if account.pid == video.pid %}
                            <a class="title_text" style="text-decoration: none;" href="#title">
                                <p style="color: black;">{{ video.name }}</p>
                            </a>
                            <form class="title_edit" action="/video?edit" method="post">
                                <input type="text" name="title" value="{{ video.name }}">
                                <input type="submit" value="change">
                                <input type="hidden" name="vid" value="{{ vid }}">
                                <input type="hidden" name="token" value="{{ token }}">
                            </form>
                            {% else %}
                            <p>{{ video.name }}</p>
                            {% endif %}
                        </div>
                        <div id="description">
                            {% if account.pid == video.pid %}
                            <a class="description_text" style="text-decoration: none;" href="#description">
                                <p style="color: black;">{{ video.description }}</p>
                            </a>
                            <form class="description_edit" action="/video?edit" method="post">
                                <input type="text" name="description" value="{{ video.description }}">
                                <input type="submit" value="change">
                                <input type="hidden" name="vid" value="{{ vid }}">
                                <input type="hidden" name="token" value="{{ token }}">
                            </form>
                            {% else %}
                            <p>{{ video.description }}</p>
                            {% endif %}
                        </div>
                        <div style="display: block; margin-top: 0;">
                            <p style="display: inline; margin-top: 0;">date: {{ video.date }}</p>
                            <p style="display: inline; margin-top: 0;">views: {{ video.views }}</p>
                            {% if account.pid == video.pid %}
                            {% if video.private == 1 %}
                            <p style="display: inline; margin-top: 0;">[Private]</p>
                            {% endif %}
                            <form style="display: inline;" action="/video?edit" method="post">
                                <input style="color: #ff0033; margin-left: 10px;" type="submit" value="Delete">
                                <input type="hidden" name="vid" value="{{ vid }}">
                                <input type="hidden" name="delete">
                                <input type="hidden" name="token" value="{{ token }}">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: auto; margin-right: auto;">
                {% if account %}
                <div>         
                    <form action="/comment" method="post">
                        <textarea style="display: block; width: 20vw;" name="comment" rows="5"></textarea>
                        <input style="display: block; margin-left: auto; margin-right: auto; max-width: fit-content;" type="submit" value="comment">
                        <input type="hidden" name="vid" value="{{ vid }}">
                        <input type="hidden" name="token" value="{{ token }}">
                    </form>
                </div>
                {% endif %}
                <div style="overflow: auto; height: 50vh;">
                    {% for comment in comments %}
                    <div style="display: flex; width: 20vw; border-style: outset; border-color: black; border-width: 1px;">
                        <div>
                            <img style="height: 3vw;" src="/account?picture={{ comment.pid }}">
                            {% if comment.pid == account.pid %}
                            <form action="/comment" method="post">
                                <input type="submit" value="delete">
                                <input type="hidden" name="cid" value="{{ comment.cid }}">
                                <input type="hidden" name="vid" value="{{ vid }}">
                                <input type="hidden" name="token" value="{{ token }}">
                            </form>
                            {% endif %}
                        </div>
                        <p style="display: inline; overflow-inline: scroll;">{{ comment.text }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; margin-left: auto; margin-right: auto; max-width: fit-content;">
                    <a class="comment_button_container" href="/view/{{ vid }}?offset={{ offset.last }}">
                        <p class="comment_button">←</p>
                    </a>
                    <p style="margin-left: 5px; margin-right: 5px;" >{{ offset.current }}</p>
                    <a class="comment_button_container" href="/view/{{ vid }}?offset={{ offset.next }}">
                        <p class="comment_button">→</p>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>