<!DOCTYPE html>
<html>
    <head>
        <title>RVideo View</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    </head>
    <body id="edit">
        <div class="topbar">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Failed to load">
                    <p>RVIDEO</p>
                </a>
            </div>
            <div class="action">
                {% if account %}
                <div class="upload">
                    <a href="/video">
                        <p>Upload&#40;+&#41;</p>
                    </a>
                </div>
                {% endif %}
                <div class="account">
                    {% if account %}
                    <a href="/account/{{ account.pid }}">
                        <img src="/picture/{{ account.pid }}" alt="Failed to load">
                        <p>{{ account.username }}</p>
                    </a>
                    {% else %}
                    <a href="/users/">
                        <img src="/picture/0" alt="Failed to load" alt="Failed to load">
                        <p>Guest</p>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content">
            <div class="view">
                <video class="video"" controls>
                    <source src="/stream/{{ vid }}">
                </video>
                <div>
                    <div class="account">
                        <a href="/account/{{ video.pid }}">
                            <img src="/picture/{{ video.pid }}" alt="Failed to load">
                            <p>{{ target.username }}</p>
                        </a>
                    </div>
                    <div class="info">
                        <p class="title">{{ video.name }}</p>
                        <p class="description">{{ video.description }}</p>
                        <div>
                            <p>{{ video.date }}</p>
                            <p>views:{{ video.views }}</p>
                            {% if video.private %}
                            <p>[private]</p>
                            {% endif %}
                            {% if account.pid == target.pid %}
                            <a href="#edit">
                                <button type="button">edit</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment">
                {% if account %}
                <div class="write">         
                    <form action="/comment" method="post">
                        <textarea name="comment" required></textarea>
                        <input type="submit" value="comment">
                        <input type="hidden" name="vid" value="{{ vid }}">
                        <input type="hidden" name="token" value="{{ token }}">
                    </form>
                </div>
                {% endif %}
                <div class="comments">
                {% for comment in comments %}
                    <div>
                        <div>
                            <img src="/picture/{{ comment.pid }}" alt="Failed to load">
                            {% if comment.pid == account.pid %}
                            <form action="/comment" method="post">
                                <div>
                                    <input type="submit" value="delete">
                                </div>
                                <input type="hidden" name="cid" value="{{ comment.cid }}">
                                <input type="hidden" name="vid" value="{{ vid }}">
                                <input type="hidden" name="token" value="{{ token }}">
                            </form>
                            {% endif %}
                        </div>
                        <p>{{ comment.text }}</p>
                    </div>
                {% endfor %}
                </div>
                <div class="offset">
                    <a href="/view/{{ vid }}?offset={{ offset - 1 }}">
                        <button>←</button>
                    </a>
                    <p>{{ offset }}</p>
                    <a href="/view/{{ vid }}?offset={{ offset + 1 }}">
                        <button>→</button>
                    </a>
                </div>
            </div>
        </div>
        
        {% if account.pid == target.pid %}
        <div class="edit">
            <p>Edit video info</p>
            <form action="/video?edit" method="post">
                <input class="title" type="text" name="title" value="{{ video.name|safe }}">
                <textarea class="description" name="description">{{ video.description|safe }}</textarea>
                <input class="update" type="submit" value="update">
                <input type="hidden" name="vid" value="{{ vid }}">
                <input type="hidden" name="token" value="{{ token }}">
            </form>

            <div>
                <p>Delete:</p>
                <input id="delete" type="checkbox">
                <form action="/video?delete" method="post">
                    <input type="submit" value="delete!">
                    <input type="hidden" name="vid" value="{{ vid }}">
                    <input type="hidden" name="token" value="{{ token }}">
                </form>
            </div>
            <p style="color: {{ message[1] }};">{{ message[0] }}</p>
            <a href="#">
                <button type="button">close</button>
            </a>
        </div>
        {% endif %}
    </body>
</html>