.topbar > .action 
{
    display: grid;
    grid-gap: 1vw;

    & > div
    {
        display: block;
        border: outset 1px;

        & a
        {
            text-decoration: none;

            & > p
            {
                margin: 0;
                color: black;
                font-size: 2vw;
            }
        }
    }
}

.account
{
    display: grid;
    position: relative;

    left: 45.6vw;

    max-width: fit-content;
    align-content: center;
    justify-content: center;
            
    border-style: outset;
    border-color: black;
    border-width: 1px;
            
    & p
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: fit-content;
        color: black;
                
        font-size: 1.5vw;

        width: 10vw;
        overflow-x: scroll;
    }
            
    & img 
    {
        width: 10vw;
        height: auto;
        image-rendering: pixelated;
    }
}

.users
{
    display: grid;
    position: relative;

    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1vw;

    & > a
    {
        text-decoration: none;
        max-width: fit-content;

        & > div
        {
            display: grid;
            align-content: center;
            justify-content: center;
                        
            border-style: outset;
            border-color: black;
            border-width: 1px;
                        
            & p
            {
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin-bottom: 0;
                max-width: fit-content;
                color: black;
                        
                font-size: 1.2vw;

                width: 5vw;
                overflow-x: scroll;
            }
                    
            & img 
            {
                width: 5vw;
                height: auto;
                image-rendering: pixelated;
            }
        }
    }
}

.videos 
{
    display: grid;
    position: relative;
            
    margin: 0;
    left: 0;
    top: 5vw;
            
    width: 100vw;
            
    grid-template-columns: auto auto auto auto auto auto auto;
    align-content: center;
    justify-content: center;
    grid-gap: 1vw;
            
    & a { text-decoration: none; }
            
    & a > div
    {
        display: grid;
        max-width: 12vw;
        border: outset 1px;
                
        grid-template-columns: auto;
        align-content: center;
                
        & video 
        {
            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
            height: 6vw; 
        }
                
        & p 
        {
            margin: 0;
            display: block;
            font-size: 1vw;
            color: black;
            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
        }
                
        & > div
        {
            overflow-x: hidden;
        }
    }

    & > .no 
    {
        display: block;
        position: absolute;

        left: 48vw;
    }
}

.offsets
{
    position: relative;
                
    transform-origin: top left;
    scale: calc(var(--w)/1920);
    transform: translate(calc(1920px/2 - 22px * (var(--w)/1920)), calc(var(--w) * 0.01px));

    max-width: fit-content;

    & > a
    {
        display: inline;
        text-decoration: none;

        & > button { font-size: 15px; }
    }

    & > p
    {
        display: inline;
        font-size: 15px;
    }
}