.profile_grid 
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5vw;

    align-content: center;
    justify-content: center;

    width: 100vw;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
}

.profile_item
{
    display: inline-block;
    align-content: center;

    border-style: outset;
    border-color: black;
    border-width: 1px;
    margin: 1vw;
}

.profile_item_text
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: fit-content;
    color: black;
}