.topbar
{
    display: flex;
}

.form_block 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.form_switch_button
{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

#signup:target .login_block { display: none; }
.login_block 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.signup_block { display: none; }
#signup:target .signup_block 
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.form_block_div 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: fit-content;
}

.form_block_submit 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: fit-content;
}

.form_switch_div
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
