.container
{
    position: relative;

    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;

    & a { text-decoration: none; }

    & .message 
    { 
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;

        & > p { font-size: 1vw; }
    }

    & > .login
    {
        & > p 
        { 
            font-size: 2vw; 
            margin:  0; 

            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
        }

        & > form
        {
            display: flex;
            flex-direction: column;

            & > div
            { 
                display: block;
                margin-top: 0.3vw;

                & > p 
                {
                    font-size: 0.9vw;
                    display: inline; 
                }

                & > .submit
                {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: fit-content;

                    font-size: 0.7vw;
                }

                & > .text
                {
                    display: inline;
                    width: 10vw;
                    height: 1vw;
                }
            }
        }

        & > a
        {
            display: block;

            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;

            & > input { font-size: 0.7vw; }
        }
    }

    & > .signup
    {
        & > p 
        { 
            font-size: 2vw; 
            margin:  0; 

            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
        }

        & > form
        {
            display: flex;
            flex-direction: column;

            & > div
            { 
                display: block;
                margin-top: 0.3vw;

                & > p 
                {
                    font-size: 0.9vw;
                    display: inline; 
                }

                & > .submit
                {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: fit-content;

                    font-size: 0.7vw;
                }

                & > .text
                {
                    display: inline;
                    width: 10vw;
                    height: 1vw;
                }

                & > .requirements { display: none; }

                &:hover > .requirements 
                {
                    display: block;
                    position: fixed;

                    left: 60vw;
                    top: 10vw;

                    & p, li { font-size: 0.8vw; }

                }
            }
        }

        & > a
        {
            display: block;

            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;

            & > input { font-size: 0.7vw; }
        }
    }
}

#signup * .login { display: block; }
#signup:target * .login { display: none; }
#signup * .signup { display: none; }
#signup:target * .signup { display: block; }