.topbar 
{
    display: block;
    position: relative;

    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vw;
                
    /* all children will have these properties */
    & > * 
    {
        display: block;
        position: absolute;
    }

    & > .logo
    {
        margin: 0.2vw;

        & > a
        {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            user-select: none;

            & > * 
            {
                margin: 0;
            }

            & > img
            {
                display: inline-block;
                width: 5vw;
                image-rendering: pixelated;
            }
            & > p 
            {
                display: inline;
                color: black;
                font-size: 2vw;
                font-family: monospace;
            }
        }
    }

    & > .action
    {
        display: flex;
        margin: 0.2vw;
        top: 0;
        right: 0;

        > * { margin: 0; }

        & a
        {
            text-decoration: none;
        }

        & > .upload
        {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 1vw;
            & p 
            {
                font-size: 1.5vw;
            }
        }
    }
}