@property --width
{
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw; 
}

body 
{
    overflow-x: hidden;

    margin: 0;
    /* get screen width for scaling */
    --w: tan(atan2(var(--width),1px));
}


.topbar 
{
    display: block;
    position: relative;

    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vw;
                
    /* all children will have these properties */
    & > * 
    {
        display: block;
        position: absolute;
    }

    & > .logo
    {
        margin: 0.2vw;

        & > a
        {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            user-select: none;

            & > * 
            {
                margin: 0;
            }

            & > img
            {
                display: inline-block;
                width: 5vw;
                image-rendering: pixelated;
            }
            & > p 
            {
                display: inline;
                color: black;
                font-size: 2vw;
                font-family: monospace;
            }
        }
    }

    & > .search 
    {
        transform-origin: top left;
        scale: calc(var(--w)/1920);

        transform: translate(calc(1920px/2 - (122.5px * (var(--w)/1920))), calc(var(--w) * 0.01px));

        & .normal
        {
            & > a { text-decoration: none; }

            & > .bar { width: 225px; }
        }

        & .advanced
        {
            & > * 
            {
                display: block;

                > * { display: inline; }
                        
                > .page { width: 40px; }

                & > .after { display: none; }
                & > .before { display: inline; }
                & > #selector:checked ~ .before { display: none; }
                & > #selector:checked ~ .after  { display: inline; }
            }
        }
    }

    & > .action
    {
        display: flex;
        margin: 0.2vw;
        top: 0;
        right: 0;

        > * { margin: 0; }

        & a
        {
            text-decoration: none;
        }

        & > .upload
        {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 1vw;
            & p 
            {
                font-size: 1.5vw;
            }
        }
    }
}

#advanced .advanced { display: none; }
#advanced:target .advanced { display: grid; }
#advanced .hide { display: none; }
#advanced:target .hide { display: inline; }
#advanced .show { display: inline; }
#advanced:target .show { display: none; }