.video_container
{
    display: flex;
}

#title:target .title_text { display: none; }

.title_edit { display: none; }
#title:target .title_edit { display: block; }

#description:target .description_text { display: none; }

.description_edit { display: none; }
#description:target .description_edit { display: block; }

.comment_button_container
{
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.comment_button
{
    display: inline;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}